<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>621620829138-39dgeqbagtk32dilq80fkngja890ndjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621620829138-39dgeqbagtk32dilq80fkngja890ndjh</string>
	<key>API_KEY</key>
	<string>AIzaSyDvJomOr65n70xqxEvJ706elLjII7BFmbA</string>
	<key>GCM_SENDER_ID</key>
	<string>621620829138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gin.zomiCatholicLabu</string>
	<key>PROJECT_ID</key>
	<string>zomi-catholic-labu</string>
	<key>STORAGE_BUCKET</key>
	<string>zomi-catholic-labu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:621620829138:ios:d4b72cc4804e0fef</string>
	<key>DATABASE_URL</key>
	<string>https://zomi-catholic-labu.firebaseio.com</string>
</dict>
</plist>